.footer-info {
  display: flex;
  flex-direction: column;
  font-size: 0.875rem; /* Equivalent to text-small in Tailwind (14px) */
  align-self: flex-start;
  text-align: left;
  max-width: 25rem;
  height: 100px;
  max-height: 100px;
  margin-bottom: 1rem;
}

.card-body {
  overflow: visible !important;
  padding: 0px !important;
  max-height: 420px;
  height: 15rem;
  min-width: 304px;
}

.card-footer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  min-height: 250px;
  max-width: 30rem;
}
